@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    transition: 0.2sm linear;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  background: #D4EAED;
} */

